<h3>{{tasks.id}}. {{tasks.title}}</h3>
<app-task-detail *ngFor="let task of tasks.tasks" [task]="task"></app-task-detail>

<h4>Add New Task</h4>
<div class="form-group">
    <div class="row">

        <div class="col-12">
            <input type="text" class="form-control" [(ngModel)]="descriptionTask" aria-describedby="emailHelp"
                placeholder="New task Description"> </div>
        <div class="col-3">
            <button class="btn btn-primary mt-3" (click)="onClickAdd()">Add new Task Detail</button>

        </div>
    </div>

</div>